{% extends 'base.html.twig' %}

{% block title %}Cv{% endblock %}

{% block body %}
    <h1>Cv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cv.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ cv.titre }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ cv.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ cv.ville }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ cv.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cv_index') }}">back to list</a>

    <a href="{{ path('cv_edit', {'id': cv.id}) }}">edit</a>

    {{ include('cv/_delete_form.html.twig') }}
{% endblock %}
