{% extends 'base.html.twig' %}

{% block title %}CollectionProfiles{% endblock %}

{% block body %}
    <h1>CollectionProfiles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collection_profile.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ collection_profile.url }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ collection_profile.dateCreation ? collection_profile.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ collection_profile.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('collection_profiles_index') }}">back to list</a>

    <a href="{{ path('collection_profiles_edit', {'id': collection_profile.id}) }}">edit</a>

    {{ include('collection_profiles/_delete_form.html.twig') }}
{% endblock %}
